a:hover {
  text-decoration: none;
}

.eric-button {
  display: inline-block;
  text-align: center;
  padding: 8px;
  border-left: solid 5px black;
  background-color: $light-gray;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
}