.eric-button {
  display: inline-block;
  text-align: center;
  padding: 8px;
  border-left: solid 10px black;
  background-color: $light-gray;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  color: grey;
  border-right: none;
  border-top: none;
  border-bottom: none;
  transition: all 0.25s ease-in-out;
}

.eric-button:hover {
  text-decoration: none;
  border-color: grey;
  color: black;
}

.delete-link {
  color: grey;
  font-style: italic;
}