// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'select2/dist/css/select2';

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}

.footer{
  height: 90px;
  background-color: rgba(7, 8, 8, 1);
  margin-top: 32px;
  margin-bottom: -64px;
  display: flex;
  align-items: center;

}

.list-inline {
  list-style: none;
  display: flex;
  justify-content: center;

}

.list-inline li{
  font-size: 24px;
  padding: 8px 16px;
  color: rgba(246, 233, 233, 0.904)
}

.farbig:hover {
  color: rgba(246, 233, 233, 0.4)
}